<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag 'photosindex', :media => "all" %>
</head>
<body class="photosindex">

<div class="subtitle">
<h2> <%= @user.name %> 投稿一覧 </h2>
</div>

<div class="photos-container">
<% @photos.each do |t| %>
  <%= link_to photo_path(t.id) do %>
    <div class="photo">
      <%= image_tag t.resize_image_top if t.image_top.attached? %>
    </div>
  <% end %>
<% end %>
</div>

</body>
</html>